<input id="submit_addT" type=submit value="AJOUTER UN THEME">
<form class="edit" id="formT" name="formT">
  <label for="nameT">LE NOM DU THEME </label>
  <input type="text" name="nameT" id="nameT"></br>
  <label for="imgT">Image </label>
  <input type="text" name="nameT" id="nameT"></br>
  <input type="text" name="nameT" id="nameT"></br>
</form>


<input id="submit_addQ" type=submit value="AJOUTER UNE QUESTION">
<form class="edit" id="formQ" name="formQ">
  <label for="theme">Choisir le thème: </label>
  <select name="theme" id="theme">
    <option value="Marvel">Marvel</option>
    <option value="DC">DC Universe</option>
    <option value="Avatar">Avatar (Le Dernier maitre de l'air / Legend Of Korra)</option>
  </select>
  </br>

  <label for="question">Ecrire la question: </label>
  <input type="text" name="question" id="question"> </br>

  <label for="reponse">Ecrire une la bonne réponse: </label>
  <input type="text" name="reponse" id="reponse"> </br>

  <label for="proposition1">Ecrire une mauvaise réponse: </label>
  <input type="text" name="proposition1" id="prop1"> </br>

  <label for="proposition2">Ecrire une mauvaise réponse: </label>
  <input type="text" name="proposition2" id="prop2"> </br>

  <label for="proposition3">Ecrire une mauvaise réponse: </label>
  <input type="text" name="proposition3" id="prop3"> </br>

  <input id="submit_formQ" type="submit" value="Valider">
</form>

<input id="submit_modifyQ" type=submit value="MODIFIER UNE QUESTION">
<form class="edit" id="form_modifyQ">
  <label for="idQuestion">Question à modifier</label>
  <select name="idQuestion" id="idQuestion">
    </select>
  <label for="theme">Le thème </label>
  <select name="theme" id="theme">
  </select>
  <label for="question">La question </label>
  <input type="text" name="question" id="question">

  <label for="reponse">La bonne réponse </label>
  <input type="text" name="reponse" id="reponse">

  <label for="proposition1">proposition </label>
  <input type="text" name="proposition1" id="prop1">

  <label for="proposition2">proposition </label>
  <input type="text" name="proposition2" id="prop2">

  <label for="proposition3">proposition </label>
  <input type="text" name="proposition3" id="prop3">

  <input id="submit_formQ" type="submit" value="Valider">

</form>
