<input id="submit_addT" type=submit value="AJOUTER/SUPPRIMER UN THEME">

<input id="submit_addQ" type=submit value="AJOUTER/MODIFER UNE QUESTION">


<!--Formulaire pour ajouter un thème -->
<form class="edit" id="formT" name="formT" action="/#/edit">
  <label for="idTheme">Thème</label>
  <select name="idTheme" id="idTheme">
  </select>
  
  <label for="nameT">LE NOM DU THEME </label>
  <input type="text" name="nameT" id="nameT">
  
  <label for="imgT">Image </label>
  <input type="file" name="imageT" id="imageT" accept="image/jpeg, image/png">

  <input type="submit" id="submit_formT">
  <input type="submit" id="submit_supprT" value="Supprimer">
</form>

<!--Formulaire de création/modification de question-->

<form class="edit" id="formQ" name="formQ" action="/#/edit">
  <label for="idQuestion">Question à modifier</label>
  <select name="idQuestion" id="idQuestion"></select>
  
  
  <label for="theme">Choisir le thème: </label>
  <select name="theme" id="theme" >
    <option value="undefined"></option>
  </select>

  <label for="question">Ecrire la question: </label>
  <input type="text" name="question" id="question"> </br>

  <label for="reponse">Ecrire une la bonne réponse: </label>
  <input type="text" name="reponse" id="reponse"> </br>

  <label for="proposition1">Ecrire une mauvaise réponse: </label>
  <input type="text" name="proposition1" id="prop1"> </br>

  <label for="proposition2">Ecrire une mauvaise réponse: </label>
  <input type="text" name="proposition2" id="prop2"> </br>

  <label for="proposition3">Ecrire une mauvaise réponse: </label>
  <input type="text" name="proposition3" id="prop3"> </br>

  <input id="submit_formQ" type="button" value="Valider">
  <input id="submit_supprQ" type="button" value="Supprimer">
</form>
